[submodule "external/annotated_deep_learning_paper_implementations"]
	path = external/annotated_deep_learning_paper_implementations
	url = git@github.com:labmlai/annotated_deep_learning_paper_implementations.git
[submodule "external/NeurOps"]
	path = external/NeurOps
	url = git@github.com:rhit-luttredn/NeurOps.git
[submodule "external/ALFA"]
	path = external/ALFA
	url = git@github.com:rhit-fioritjx/ALFA.git
[submodule "external/backpropamine"]
	path = external/backpropamine
	url = git@github.com:rhit-wangy51/backpropamine.git